.card {
  width: 80%;
  height: 60%;
  background-color: $color-card-background;
  // position: relative;
  display: flex;
  border-radius: 7px;
  overflow: hidden;

  @media only screen and (max-width: $bp-tiny){
    flex-direction: column-reverse;
    width: 90%;
    height: 90%;
  }

  &__img {
    width: 50%;
    background-image: linear-gradient(to right bottom, $color-accent, $color-accent), url(../images/image-header-desktop.jpg);
    background-blend-mode: overlay;
    background-size: cover;

    @media only screen and (max-width: $bp-tiny){
      width: 100%;
      height: 30%;
      background-image: linear-gradient(to right bottom, $color-accent, $color-accent), url(../images/image-header-mobile.jpg);
    }
  }

  &__details {
    width: 50%;
    display: flex;
    // justify-content: center;
    align-items: center;
    padding-left: 8rem;

    @media only screen and (max-width: $bp-tiny){
      width: 100%;
      height: 70%;
      padding-left: 0;
      justify-content: center;
      text-align: center;
      align-items: flex-start;
      padding-top: 20rem;
    }

  }

  &__content {
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5.5rem;
    grid-template-rows: repeat(5, 1fr);
    grid-row-gap: 1rem;
    @media only screen and (max-width: $bp-tiny){
      justify-content: center;
      align-content: center;
      grid-template-columns: 100%;
      grid-column-gap: 0;
      grid-row-gap: 1.5rem;
    }

  }

  &__paragraph {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    // font-size: 1.7rem;
    margin-top: 1rem;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
    @media only screen and (max-width: $bp-tiny){
      font-size: 2.1rem;
      margin-bottom: 1rem;
    }
  }

  &__stats-block {

    grid-row: 4 / 5;
    margin-top: 3rem;


    &--1 {
      grid-column: 1 / 2;
      @media only screen and (max-width: $bp-tiny){
        grid-row: 3 / 4;
        grid-column: 1/-1;
      }
    }

    &--2 {
      grid-column: 2 / 3;
      @media only screen and (max-width: $bp-tiny){
        grid-row: 4 / 5;
        grid-column: 1/-1;
      }
    }

    &--3 {
      grid-column: 3 / -1;
      @media only screen and (max-width: $bp-tiny){
        grid-row: 5 / 6;
        grid-column: 1/-1;
      }
    }
  }

  &__stats-paragraph {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .1rem;

    @media only screen and (max-width: $bp-tiny){
      font-size: 2rem;
    }


  }
}

.heading-1{
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 3.5rem;

  @media only screen and (max-width: $bp-tiny){
    font-size: 3.9rem;
  }

  span {
    color: $color-accent;
  }
}

.heading-2 {
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 2.3rem;
  margin-bottom: .5rem;

  @media only screen and (max-width: $bp-tiny){
    font-size: 3.5rem;
  }
}
